/*home*/
.advi-intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 200px 0px 0px 100px;
  color: white;
  font-size: 100px;
  font-weight: bolder;
}

.container {
  padding: 0 20px;
}

.about-content {
    background-image: url('../assets/ai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

Button {
    height: 60px;
    width: auto;
}
